#homepage
  
  %section
    #hero
      .copy
        %h1 My name is Tabitha and I’m a Recreation Therapist.
        %p I help people gain a higher quality of life through recreation therapy. I am passionate about helping people overcome their obstacles to reach their full potential.
        %p.signature Tabitha Pitts, CTRS, QMHP
    #card
      = raw @page.content_for(:qualifications)
      %p.signature
        Tabitha Pitts
        %span.qualifications CTRS, QMHP
  
%section
  .feature-box
    = raw @page.content_for(:feature_1)
  .feature-box
    = raw @page.content_for(:feature_2)
  .feature-box
    = raw @page.content_for(:feature_3)

%h2 News & Events
= render partial: "/refinery/blog/categories/post_listing", locals: { posts: Refinery::Blog::Category.where(slug: "news-events").first.posts.live }
