!!!5
%html
  %head
    %title Re-Create Recreation
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600,200italic,300italic,600italic", media: "all"
    = stylesheet_link_tag 'application', media: "all"
    = javascript_include_tag 'application'
    = csrf_meta_tags
    
  %body
    = render "/refinery/site_bar"
    #top-menu
      .bound
        %a.logo{ href: "/" } Re-Create Recreation
        %ul
          - menu_pages.each do |page|
            %li= link_to page[:title], page[:path]
          %li.social-link
            %a.facebook{ href: "https://www.facebook.com/pages/Re-create-Recreation-LLC/144553265660014" } Re-Create Recreation on Facebook
    
    #content.bound
      = yield
    
    %footer
      %p.bound &copy; #{DateTime.now.strftime("%Y")} Re-Create Recreation LLC
